@page
@model LogoutModel
@{
	Layout = "/Pages/Shared/AuthLayout.cshtml";  // Dùng Layout riêng
	ViewData["Title"] = "Logout";
}

<p class="text-center">Bạn đã đăng xuất thành công. Quay lại <a href="/Account/Login">đăng nhập</a>.</p>
